<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>欢迎来到主页</h3>
    <form id="userForm" class=" animated rollIn"  action="/login" method="post">
        <div class="form-group">
            <input type="text" class="form-control"  placeholder="用户名" name="username" required id = "username">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="密码" required id = "password" name="password">
        </div>

        <input type="submit"  class="btn btn-primary block full-width " value="登录">
    </form>
</body>
</html>